
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="content">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12873.382715402151!2d36.1653213!3d36.2310959!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x83ecb5e715015e0b!2sRitech%20Teknoloji!5e0!3m2!1str!2str!4v1644229038803!5m2!1str!2str" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <h4> <strong>İletişim</strong></h4>
                
                
                <form action="/Home/Iletisim/" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="adsoyad" class="form-control" id="name" placeholder="Ad Soyad" data-rule="minlen:4" data-msg="Lütfen en az 4 karekter giriniz." required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Mail Adresiniz" data-rule="email" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="konu" id="subject" placeholder="Konu" data-rule="minlen:4" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="mesaj" rows="5" data-rule="required" required placeholder="Mesajınız"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="center"><button type="submit" class="btn btn-theme">GÖNDER</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

